#####################################################################
# 	Macros
#####################################################################

[delayed_gcode clear_display]
gcode:
  M117 # clear display message

##########################
#Print Start
##########################
# %.2f = floating point
# %.2i = signed integer, i or d ?
# %s = string
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
#   use the following in slicer to pass variables
#   PRINT_START BED=[first_layer_bed_temperature] HOTEND={first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} CHAMBER=[chamber_temperature] SIZE={first_layer_print_min[0]}_{first_layer_print_min[1]}_{first_layer_print_max[0]}_{first_layer_print_max[1]}
gcode:
#####
#set slicer parameters
#####
    {% set BED = params.BED|default(60)|int %}
    {% set EXTRUDER = params.EXTRUDER|default(220)|int %}
    {% set CHAMBER = params.CHAMBER|default(0)|int %}
    {% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %}
    {% set filament = params.FILAMENT|default("Jessie_PLA_Vince")|string %}
    {% set material = params.MATERIAL|default("PLA")|string %}
    {% set nozzle = params.NOZZLE|default(0.4)|float|round(2) %}
#####
#Display all variables above
#####
    {action_respond_info("Print_Start Macro Inputs:\n"
                         "BED = %i\n"  
                         "EXTRUDER = %d\n" 
                         "CHAMBER = %i\n"  
                         "FL_SIZE = %s\n"
                         "material = %s\n" 
                         "nozzle = %.2f\n"
                         "filament = %s\n" % 
                         (BED, EXTRUDER, CHAMBER, FL_SIZE, material, nozzle, filament))}  
#####
#intial conditiona to clear or calculate
#####

    M117 Starting...
    STATUS_READY
    CASELIGHT_ON                                   ;turn the case lights on
    RESETRGB                                                        ;reset the RGB lights on the display

#####
#Heating
#####
#initial values
    STATUS_HEATING
    M104 S{150}                                                     ;start heating extrudent and move on
    M140 S{BED}                                                     ;start heating the bed to temp and move on
    #G32                                                             ;initial home and QGL
#   Wait for elements to heat up. Don't need to wait for extruder that comes after all calibrations.                                  
    M190 S{BED}                                                     ;heat bed to required temp, and wait for bed to get to temp
#####
#homing and level the bed
#####  
    STATUS_HOMING
    G28                                                            
#####
#Determine z-offset and bed mesh
##### 
    STATUS_MESHING
    #ADAPTIVE_BED_MESH SIZE={FL_SIZE}                                              ;runs an adaptive bed mesh  
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE LOAD=default
#####
#Set pressure advance and z-offset
#####
   _ADJUST_PRESSURE_ADVANCE FILAMENT="{filament}" NOZZLE={nozzle} MATERIAL="{material}"
   #SMART_PARK
#####
#heat extruder to print temp and clean
##### 
    G1 X0 Y-15 F18000 #move to start location for line purge
    STATUS_HEATING
    M109 S{EXTRUDER}                                                ;added his here to make sure extruder temp is up before print

#####
#Prime the nozzle and start print
#####  
    G1 X5 Y5 F18000 
    STATUS_BUSY
    LINE_PURGE
    M83                                                             ;use relative distance for extruder

#####
#set filament sensor
#####
    FILAMENT_SENSOR_ENABLE
    M117 Printing...
    {action_respond_info("Print Starting")}
    STATUS_PRINTING


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script
gcode:
    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}
    
    #  Commence PRINT_END
    M400                             ; wait for buffer to clear
    G92 E0                           ; zero the extruder
    G1 E-4.0 F3600                   ; retract
    G91                              ; relative positioning
    G0 Z{z_safe} F3600               ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000    ; move nozzle to remove stringing
    
    M104 S0                          ; turn off hotend
    M140 S0                          ; turn off bed
    M106 S0                          ; turn off fan
    G90                              ; absolute positioning
    G0 X{max_x / 2} Y{max_y-5} F3600   ; park nozzle at rear
    M117 Finished!
    G1 E-2.55 F3600                ; retract filament by 2.05mm
    G92 E0                           ; zero the extruder
    STATUS_BUSY
    TURN_OFF_HEATERS
    BED_MESH_CLEAR
    FILAMENT_SENSOR_DISABLE            ;turn off the filament sensor
    SET_PIN PIN=caselight VALUE=0                                  ;turn the case lights off
    SET_GCODE_OFFSET Z_ADJUST=0 MOVE=1  ;need to clear out z_adjust
    BEEP I=5
    CASELIGHT_BLINK
    {action_respond_info("Print Complete")}
    M117 Print Complete
    STATUS_PART_READY